/* Setup Snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* End of Setup Snippet */

/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  color: grey;
}

li {
  list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
/* END OF GLOBAL STYLES */


/* HEADER STYLE */
header {
  min-height: 100vh;
  background-image: url('./cloudImage.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

header p {
  color: white;
}

header, .weatherMain, .requestedWeather, .weatherDataForm, .firebaseStoredLocations {
  display: flex;
  flex-wrap: wrap;
}

.headerFlexChild {
  align-self: center;
  color: white;
}
/* END OF HEADER STYLES */


/* TYPOGRAPHY STYLES */
h1 {
  text-shadow: 1px 1px black;
}

h2 {
  text-transform: uppercase;
}

.chevron {
  font-size: 4rem;
  text-shadow: 0.5px 0.5px black;
}

.chevron:hover, .chevron:focus {
  transition: 1s all;
  color: black;
  text-shadow: 0.5px 0.5px white;
}
/* END OF TYPOGRAPHY STYLES */

/* MAIN STYLES */
.weatherMain {
  min-height: 100vh;
  color: white;
  background-color: black;
  flex-direction: column;
  justify-content: center;
}

/* class for div holding all the fetched api data and form for user input */
.requestedWeather {
  text-align: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  max-width: 500px;
}

/* ID holding background image in order to dynamically change background image */
#weatherSection {
  background-image: url('./cloudsTwo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* class used in div to hold all the individual data received from api */
.weatherDataContainer {
  text-align: center;
  width: 100%;
  padding: 0 20px 20px;
}

/* id used to make data not displayed under user submits form */
#weatherDataContainer{
   display: none;
   flex-wrap: wrap;
   flex-direction: column;
}

/* styling for stored user locations */
.firebaseStoredLocations {
  justify-content: center;
  padding-bottom: 10px;
}

/* forecast styles */
#weatherForecast {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.forecastDayContainer {
  margin: 10px;
}

/* FORM & BUTTON STYLES */
.weatherDataForm {
  text-align: center;
  flex-direction: column;
  padding: 20px 20px 0;
}

input[type="text"], button {
  padding: 10px;
  margin: 5px;
}

input[type="text"] {
  text-align: center;
}

.saveLocationButton {
  width: 30%;
  align-self: center;
  padding: 5px;
  margin: 2px;
}

.removeButton {
  padding: 1px;
}
/* END OF FORM & BUTTON STYLES */

/* FOOTER STYLES */
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}